<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BoxNestGroup.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BoxNestGroup.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BoxNestGroup.Settings>
            <setting name="ClientID" serializeAs="String">
                <value>Please Input</value>
            </setting>
            <setting name="SecretID" serializeAs="String">
                <value>Please Input</value>
            </setting>
            <setting name="AccessToken" serializeAs="String">
                <value>N/A</value>
            </setting>
            <setting name="PortNumber" serializeAs="String">
                <value>54321</value>
            </setting>
            <setting name="RefreshToken" serializeAs="String">
                <value>N/A</value>
            </setting>
            <setting name="ShowGroupId" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowGroupNestMax" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowGroupFolderCount" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowGroupUserCount" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowUserId" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowUserMail" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowUserNowGroup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowUserAllGroup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowUserModGroup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowUserNestGroup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowUserUsed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowUserColabo" serializeAs="String">
                <value>True</value>
            </setting>
        </BoxNestGroup.Settings>
    </userSettings>
    <applicationSettings>
        <BoxNestGroup.Settings>
            <setting name="CommonGroupFolder" serializeAs="String">
                <value>GroupFolder</value>
            </setting>
            <setting name="CommonGroupSetting" serializeAs="String">
                <value>SettingFolder</value>
            </setting>
            <setting name="RedirectUrl" serializeAs="String">
                <value>http://localhost:{0}/callback</value>
            </setting>
            <setting name="ListenUrl" serializeAs="String">
                <value>http://localhost:{0}/</value>
            </setting>
            <setting name="ClearGroupName" serializeAs="String">
                <value>【グループなしに設定】</value>
            </setting>
        </BoxNestGroup.Settings>
    </applicationSettings>
</configuration>